
<div class="container">
	<div class="row">
		<div class="btn-group col-md-5">
			<button class="btn btn-info" (click)="setDifficulty(difficultyEnum.Easy)" [ngClass]="{'selectedButton': difficultyLevel === difficultyEnum.Easy}"> Easy </button>
			<button class="btn btn-success" (click)="setDifficulty(difficultyEnum.Medium)" [ngClass]="{'selectedButton': difficultyLevel === difficultyEnum.Medium}"> Medium </button>
			<button class="btn btn-warning" (click)="setDifficulty(difficultyEnum.Hard)" [ngClass]="{'selectedButton': difficultyLevel === difficultyEnum.Hard}"> Hard </button>
			<button class="btn btn-danger" (click)="setDifficulty(difficultyEnum.Deadly)" [ngClass]="{'selectedButton': difficultyLevel === difficultyEnum.Deadly}"> Deadly </button>
		</div>	
		<span class="col-md-1" style="text-align: center; padding-top: 10px">
			Type 
		</span>
		<div class="dropdown col-md-2">
			<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add Type Filter
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<ng-container *ngFor="let type of types">
					<li><a (click)="addFilter(type)">{{type}}</a></li>
				</ng-container>
			</ul>
		</div>
		<span class="col-md-1" style="text-align: center; padding-top: 10px">
			Alignment 
		</span>
		<div class="dropdown col-md-3">
			<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add Alignment Filter
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<ng-container *ngFor="let alignment of alignments">
					<li><a (click)="addAlignmentFilter(alignment)">{{alignment}}</a></li>
				</ng-container>
			</ul>
		</div>
	</div>
</div>

<div class="dropdown pageButton" style="width: 90%">
	<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add Player
	<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<li><a (click)="addPlayer(1)"> Level 01 </a></li>
		<li><a (click)="addPlayer(2)"> Level 02 </a></li>
		<li><a (click)="addPlayer(3)"> Level 03 </a></li>
		<li><a (click)="addPlayer(4)"> Level 04 </a></li>			
		<li><a (click)="addPlayer(5)"> Level 05 </a></li>			
		<li><a (click)="addPlayer(6)"> Level 06 </a></li>			
		<li><a (click)="addPlayer(7)"> Level 07 </a></li>			
		<li><a (click)="addPlayer(8)"> Level 08 </a></li>			
		<li><a (click)="addPlayer(9)"> Level 09 </a></li>			
		<li><a (click)="addPlayer(10)"> Level 10 </a></li>
		<li><a (click)="addPlayer(11)"> Level 11 </a></li>
		<li><a (click)="addPlayer(12)"> Level 12 </a></li>
		<li><a (click)="addPlayer(13)"> Level 13 </a></li>
		<li><a (click)="addPlayer(14)"> Level 14 </a></li>			
		<li><a (click)="addPlayer(15)"> Level 15 </a></li>			
		<li><a (click)="addPlayer(16)"> Level 16 </a></li>			
		<li><a (click)="addPlayer(17)"> Level 17 </a></li>			
		<li><a (click)="addPlayer(18)"> Level 18 </a></li>			
		<li><a (click)="addPlayer(19)"> Level 19 </a></li>			
		<li><a (click)="addPlayer(20)"> Level 20 </a></li>		
	</ul>
</div>

<div class="panel panel-danger infoPanel" *ngIf="typeFilters.length > 0">
	<div class="panel-heading" >
		<h3 class="panel-title">Type Filters</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 bg-success playerElement" *ngFor="let filter of typeFilters; let i = index;">
				<button class="close" style="margin-top: 7px" (click)="removeFilter(i)">x</button>{{filter}}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-warning infoPanel" *ngIf="alignmentFilters.length > 0" >
	<div class="panel-heading" >
		<h3 class="panel-title">Alignment Filters</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 bg-success playerElement" *ngFor="let filter of alignmentFilters; let i = index;">
				<button class="close" style="margin-top: 7px" (click)="removeAlignmentFilter(i)">x</button>{{filter}}
			</div>
		</div>
	</div>
</div>

<div class="panel panel-info infoPanel" *ngIf="players.length > 0" >
	<div class="panel-heading" >
		<h3 class="panel-title">Players</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 bg-success playerElement" *ngFor="let player of players; let i = index;">
				<button class="close" style="margin-top: 7px" (click)="removePlayer(i)">x</button>Level {{player}}
			</div>
		</div>
	</div>
</div>

<button class="btn btn-success pageButton" (click)="generateEncounter()">
	GENERATE ENCOUNTER
</button>

<div class="panel panel-info infoPanel" *ngIf="encounterMonsters.length > 0" >
	<div class="panel-heading" >
		<h3 class="panel-title">Encounter</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 bg-success playerElement" *ngFor="let monster of encounterMonsters; let i = index;">
				<button class="close" style="margin-top: 7px" (click)="removeEncounterMonster(i)">x</button>
				<span style="float: left"> {{monster.Name}} </span>
				<label> CR: {{monster.CR}} </label>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		Total XP: {{xp}}
	</div>
</div>

<button class="btn btn-success pageButton" (click)="navigateToDetailsPage()">
	GO TO DETAILS PAGE
</button>