.border-right {
    border-right: 1px solid #ddd;
}
.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.border-left {
    border-left: 1px solid #ddd;
}
.monsterRow{
	padding: 10px 0; 
	margin: 10px 10px; 
	background-color: dimgrey;
	width=80%;
}
.monsterContainer{
	margin: 10px 0;
	background-color: darkgray;
}

.monsterListDescription{
	display: table;
	margin: 0 auto;
	color: darkred;
}