<div class="container">
	<div class="row">
		<div class="col-md-1">
			Classes
		</div>
		<div class="col-md-5">
			<select class="form-control" #selectedClass style="display:inline; width: inherit" (change)="setClassFilter(selectedClass.value)">
				<option value="all"> All </option>
				<ng-container *ngFor="let class of classes">
					<option [value]="class">{{class}}</option>
				</ng-container>
			</select>
		</div>
		<div class="col-md-2">
			Spell Levels
		</div>
		<div class="col-md-4">
			<select class="form-control" #selectedLevel style="display:inline; width: inherit" (change)="setLevelFilter(selectedLevel.value)">
				<option value="all"> All </option>
				<ng-container *ngFor="let level of levels">
					<option [value]="level">{{level}}</option>
				</ng-container>
			</select>
		</div>
	</div>
	<div *ngFor="let spell of filteredSpells">
		<div class="panel panel-primary monsterContainer">
			<div class="panel-heading">
				<h3 class="panel-title">{{spell.name}}</h3>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Level
					</div>
					<div class="col-md-10">
						{{spell.level}}
					</div>
				</div>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Description
					</div>
					<div class="col-md-10" [innerHTML]="spell.description">
					</div>
				</div>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Range
					</div>
					<div class="col-md-10" [innerHTML]="spell.range">
					</div>
				</div>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Casting Time
					</div>
					<div class="col-md-10">
						{{spell.casting_time}}
					</div>
				</div>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Duration
					</div>
					<div class="col-md-10">
						{{spell.duration}}
					</div>
				</div>
			</div>
			
			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Concentration
					</div>
					<div class="col-md-10">
						{{spell.concentration}}
					</div>
				</div>
			</div>

			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Ritual
					</div>
					<div class="col-md-10">
						{{spell.ritual}}
					</div>
				</div>
			</div>
			
			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Components
					</div>
					<div class="col-md-10">
						{{spell.components}}
					</div>
				</div>
			</div>
			
			<div class="panel panel-success monsterHeader" *ngIf="spell.material != null">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Materials
					</div>
					<div class="col-md-10">
						{{spell.material}}
					</div>
				</div>
			</div>
			
			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						Classes
					</div>
					<div class="col-md-10">
						<div *ngFor="let class of spell.classes">
							{{class}}
						</div>
					</div>
				</div>
			</div>

			
			<div class="panel panel-success monsterHeader">
				<div class="panel-dark monsterRow" >
					<div class="col-md-2">
						School
					</div>
					<div class="col-md-10">
						{{spell.school}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>