.panel-primary *:not(.panel-title|.panel-heading) {
	color: #e0e0e0;
}
.monsterRow{
	width:80%;
	display: table;
	margin: 0 auto;
}
.monsterContainer{
	margin: 10px 0;
}

.monsterHeader{
	border-color: transparent;
	margin-bottom: 5px;
}

.panel-success > .panel-dark {
    background-color: #2f542f;
    border-color: darkgreen;
}

.panel-dark{
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 3px;
}

.panel-dark:first-child {
	margin-top: 15px;
}