<button class="ui inverted launch button" style="
    position: fixed;
    top: 80px;
    left: 80%;
    width: 70px;
	z-index: 2;
"><i class="fa fa-bars" aria-hidden="true"></i></button>
<div class="ui hidden monsters">
	<div class="item" *ngFor="let monster of encounterMonsters.getMonsters(); let i = index;">
		<div class="ui labeled button" tabindex="0">
			<div class="ui basic teal button" (click)="removeEncounterMonster(i)">x</div>
			<a class="ui inverted teal label">{{monster.Name}}</a>
		</div>
		<b>CR: {{monster.CR}}</b>
	</div>
	
	<div class="item">
		<div class="ui labeled button" tabindex="0">
			<div class="ui basic teal button">Total XP</div>
			<a class="ui inverted teal label">{{encounterMonsters.calculateXP()}}</a>
		</div>
		<div class="ui label" [ngClass]="{'blue': isEasyEncounter(), 'green': isMediumEncounter(), 'orange': isHardEncounter(), 'red':isDeadlyEncounter()}"> {{getDifficultyString()}}</div>
	</div>
	<div class="item">
		<button class="ui inverted green button" routerLink="/monsters" (click)="internalJQuery('.ui.sidebar').sidebar('hide')"> Go To Details </button>
	</div>
</div>
<div class="ui stackable grid">
	<div class="five wide column">
		<div class="ui buttons">
			<button class="ui inverted button" type="button"> Add Type Filter </button>
			<div class="ui inverted floating dropdown icon button" tabindex="0">
				<i class="dropdown icon"></i>
				<div class="menu transition hidden" tabindex="-1">
					<ng-container *ngFor="let type of types">
						<div class="item" (click)="addTypeFilter(type)">{{type}}</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="five wide column">
		<div class="ui buttons">
			<button class="ui inverted button" type="button"> Add Alignment Filter </button>
			<div class="ui inverted floating dropdown icon button" tabindex="0">
				<i class="dropdown icon"></i>
				<div class="menu transition hidden" tabindex="-1">
					<ng-container *ngFor="let alignment of alignments">
						<div class="item" (click)="addAlignmentFilter(alignment)">{{alignment}}</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="five wide column">
		<div class="ui buttons">
			<button class="ui inverted button" type="button"> Add CR Filter </button>
			<div class="ui inverted floating dropdown icon button" tabindex="0">
				<i class="dropdown icon"></i>
				<div class="menu transition hidden" tabindex="-1">
					<ng-container *ngFor="let cr of crs">
						<div class="item" (click)="addCRFilter(cr)">{{cr}}</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
	<div class="ten wide column">
		<div class="ui labeled input">
			<a class="ui label">
				Monster Name
			</a>
			<input class="text" #monsterName (keyup)="setNameFilter(monsterName.value)" placeholder="" aria-describedby="basic-addon1" /> 
		</div>
	</div>
</div>
<div class="ui container">
	<div class="ui grid">
		<div class="sixteen wide column">
			<h3 class="ui centered dividing header" style="color: white;"> Type Filters </h3>
		</div>
		<div class="four wide column" *ngFor="let filter of typeFilters; let i = index;">
			<div class="ui labeled button" tabindex="0">
				<div class="ui basic teal button" (click)="removeTypeFilter(i)">x</div>
				<a class="ui inverted teal label">{{filter}}</a>
			</div>
		</div>
	</div>
	
	<div class="ui grid">
		<div class="sixteen wide column">
			<h3 class="ui centered dividing header" style="color: white;"> Alignment Filters </h3>
		</div>
		<div class="four wide column" *ngFor="let filter of alignmentFilters; let i = index;">
			<div class="ui labeled button" tabindex="0">
				<div class="ui basic orange button" (click)="removeAlignmentFilter(i)">x</div>
				<a class="ui inverted orange label">{{filter}}</a>
			</div>
		</div>
	</div>
	
	<div class="ui grid">
		<div class="sixteen wide column">
			<h3 class="ui centered dividing header" style="color: white;"> CR Filters </h3>
		</div>
		<div class="four wide column" *ngFor="let filter of crFilters; let i = index;">
			<div class="ui labeled button" tabindex="0">
				<div class="ui basic olive button" (click)="removeCRFilter(i)">x</div>
				<a class="ui inverted olive label">{{filter}}</a>
			</div>
		</div>
	</div>
	
	<div class="ui grid">
		<ng-container *ngFor="let monster of pagedMonsters.getElements()">
			<div class="row">
				<stat-block>
					<creature-heading>
						<h1>{{monster.Name}}</h1> 
						<h2>{{monster.Type}}, {{monster.Align}}</h2>
					</creature-heading>
					
					<top-stats>
						<property-line>
							<h4>Armor Class</h4>
							<p> {{monster.AC}} </p>
						</property-line>
						
						<property-line>
							<h4>Hit Points</h4>
							<p>{{monster.HP}}</p>
						</property-line>
						
						<property-line>
							<h4>Speed</h4>
							<p>{{monster.Speed}}</p>
						</property-line>
						
					   <abilities-block [attr.data-str]="monster.Strength"
						[attr.data-dex]="monster.Dexterity"
						[attr.data-con]="monster.Constitution"
						[attr.data-int]="monster.Intelligence"
						[attr.data-wis]="monster.Wisdom"
						[attr.data-cha]="monster.Charisma"></abilities-block>
						
						<property-line *ngIf="monster.Immunities.length	> 0">
							<h4>Immunities</h4>
							<p>
								{{monster.Immunities.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Resistances.length > 0">
							<h4>Resistances</h4>
							<p>
								{{monster.Resistances.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Bonuses.length > 0">
							<h4>Bonuses</h4>
							<p>
								{{monster.Bonuses.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Saves.length > 0">
							<h4>Saves</h4>
							<p>
								{{monster.Saves.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Vulnerabilities.length > 0">
							<h4>Vulnerabilities</h4>
							<p>
								{{monster.Vulnerabilities.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Senses.length	> 0">
							<h4>Senses</h4>
							<p>
								{{monster.Senses.join()}}
							</p>
						</property-line>
						
						<property-line *ngIf="monster.Languages.length > 0">
							<h4>Languages</h4>
							<p>
								{{monster.Languages.join()}}
							</p>
						</property-line>
						
						<property-line>
							<h4>Challenge</h4>
							<p>
								{{monster.CR}} ({{getXP(monster.CR)}})
							</p>
						</property-line>
					</top-stats>
					
					<property-block *ngFor="let trait of monster.Traits">
						<h4>{{trait.Name}}.</h4>
						<p *ngFor="let description of trait.Description">
							{{description}}
						</p>
					</property-block>
					
					<h3> Actions </h3>
					
					<property-block *ngFor="let action of monster.Actions">
						<h4>{{action.Name}}.</h4>
						<p *ngFor="let description of action.Description">
							{{description}}
						</p>
					</property-block>
					
					<h3 *ngIf="monster.Reactions.length > 0"> Reactions </h3>
					
					<property-block *ngFor="let reaction of monster.Reactions">
						<h4>{{reaction.Name}}.</h4>
						<p *ngFor="let description of reaction.Description">
							{{description}}
						</p>
					</property-block>
					
					<h3 *ngIf="monster.Legendaries.length > 0"> Legendaries </h3>
					
					<property-block *ngFor="let legendary of monster.Legendaries">
						<h4>{{legendary.Name}}.</h4>
						<p *ngFor="let description of legendary.Description">
							{{description}}
						</p>
					</property-block>
				</stat-block>
			</div>
			<button class="ui inverted green button" (click)="addEncounterMonster(monster)"> ADD MONSTER </button>
		</ng-container>
	</div>
</div>
<paging [pagedList]="pagedMonsters"> </paging>