<div class="container">
	<div class="row col-lg-10">
		<div class="row">
		<!-- FILTERS -->
			<div class="dropdown col-md-2">
				<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add Type Filter
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<ng-container *ngFor="let type of types">
						<li><a (click)="addTypeFilter(type)">{{type}}</a></li>
					</ng-container>
				</ul>
			</div>
			<div class="dropdown col-md-3">
				<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add Alignment Filter
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<ng-container *ngFor="let alignment of alignments">
						<li><a (click)="addAlignmentFilter(alignment)">{{alignment}}</a></li>
					</ng-container>
				</ul>
			</div>
			<div class="dropdown col-md-3">
				<button class="btn btn-primary dropdown-toogle" type="button" data-toggle="dropdown">Add CR Filter
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<ng-container *ngFor="let cr of crs">
						<li><a (click)="addCRFilter(cr)">{{cr}}</a></li>
					</ng-container>
				</ul>
			</div>
			<div class="input-group col-md-3">
				<span class="input-group-addon" id="basic-addon1">Monster Name</span>
				<input class="form-control" #monsterName (keyup)="setNameFilter(monsterName.value)" placeholder="" aria-describedby="basic-addon1" /> 
			</div>
		</div>
		
		<div class="panel panel-danger infoPanel" *ngIf="typeFilters.length > 0">
			<div class="panel-heading" >
				<h3 class="panel-title">Type Filters</h3>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 bg-success playerElement" *ngFor="let filter of typeFilters; let i = index;">
						<button class="close" style="margin-top: 7px" (click)="removeTypeFilter(i)">x</button>{{filter}}
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-warning infoPanel" *ngIf="alignmentFilters.length > 0" >
			<div class="panel-heading" >
				<h3 class="panel-title">Alignment Filters</h3>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-2 bg-success playerElement" *ngFor="let filter of alignmentFilters; let i = index;">
						<button class="close" style="margin-top: 7px" (click)="removeAlignmentFilter(i)">x</button>{{filter}}
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-danger infoPanel" *ngIf="crFilters.length > 0">
			<div class="panel-heading" >
				<h3 class="panel-title">CR Filters</h3>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 bg-success playerElement" *ngFor="let filter of crFilters; let i = index;">
						<button class="close" style="margin-top: 7px" (click)="removeCRFilter(i)">x</button>{{filter}}
					</div>
				</div>
			</div>
		</div>
		<!--- MONSTERS -->
		<div class="row">
			<ng-container *ngFor="let monster of pagedMonsters.getElements()">
				<div class="col-md-7">
					<stat-block>
						<creature-heading>
							<h1>{{monster.Name}}</h1> 
							<h2>{{monster.Type}}, {{monster.Align}}</h2>
						</creature-heading>
						
						<top-stats>
							<property-line>
								<h4>Armor Class</h4>
								<p> {{monster.AC}} </p>
							</property-line>
							
							<property-line>
								<h4>Hit Points</h4>
								<p>{{monster.HP}}</p>
							</property-line>
							
							<property-line>
								<h4>Speed</h4>
								<p>{{monster.Speed}}</p>
							</property-line>
							
						   <abilities-block [attr.data-str]="monster.Strength"
							[attr.data-dex]="monster.Dexterity"
							[attr.data-con]="monster.Constitution"
							[attr.data-int]="monster.Intelligence"
							[attr.data-wis]="monster.Wisdom"
							[attr.data-cha]="monster.Charisma"></abilities-block>
							
							<property-line *ngIf="monster.Immunities.length	> 0">
								<h4>Immunities</h4>
								<p>
									{{monster.Immunities.join()}}
								</p>
							</property-line>
							
							<property-line *ngIf="monster.Resistances.length > 0">
								<h4>Resistances</h4>
								<p>
									{{monster.Resistances.join()}}
								</p>
							</property-line>
							
							<property-line *ngIf="monster.Vulnerabilities.length > 0">
								<h4>Vulnerabilities</h4>
								<p>
									{{monster.Vulnerabilities.join()}}
								</p>
							</property-line>
							
							<property-line *ngIf="monster.Senses.length	> 0">
								<h4>Senses</h4>
								<p>
									{{monster.Senses.join()}}
								</p>
							</property-line>
							
							<property-line *ngIf="monster.Languages.length > 0">
								<h4>Languages</h4>
								<p>
									{{monster.Languages.join()}}
								</p>
							</property-line>
							
							<property-line>
								<h4>Challenge</h4>
								<p>
									{{monster.CR}} ({{getXP(monster.CR)}})
								</p>
							</property-line>
						</top-stats>
						
						<property-block *ngFor="let trait of monster.Traits">
							<h4>{{trait.Name}}.</h4>
							<p>
								{{trait.Description.join()}}
							</p>
						</property-block>
						
						<h3> Actions </h3>
						
						<property-block *ngFor="let action of monster.Actions">
							<h4>{{action.Name}}.</h4>
							<p>
								{{action.Description.join()}}
							</p>
						</property-block>
						
						<h3 *ngIf="monster.Reactions.length > 0"> Reactions </h3>
						
						<property-block *ngFor="let reaction of monster.Reactions">
							<h4>{{reaction.Name}}.</h4>
							<p>
								{{reaction.Description.join()}}
							</p>
						</property-block>
						
						<h3 *ngIf="monster.Legendaries.length > 0"> Legendaries </h3>
						
						<property-block *ngFor="let legendary of monster.Legendaries">
							<h4>{{legendary.Name}}.</h4>
							<p>
								{{legendary.Description.join()}}
							</p>
						</property-block>
					</stat-block>
				</div>
				<div class="col-md-1">
					<button class="btn btn-primary" (click)="addEncounterMonster(monster)"> Add MONSTER PLZ </button>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="panel panel-primary"
		*ngIf="encounterMonsters.length > 0" 
		style="position: fixed; top: 10%; left: 78%; width: 20%; height:400px">
		<div class="panel-heading" >
			<h3 class="panel-title">Encounter</h3>
		</div>
			<div class="panel-content" style="height: 272px;overflow-y:auto">
				<div class="playerElement" *ngFor="let monster of encounterMonsters; let i = index;" style='background-color: #2f542f'>
					<button class="close" style="margin-top: 7px" (click)="removeEncounterMonster(i)">x</button>
					<span style="float: left"> {{monster.Name}} </span>
					<label> CR: {{monster.CR}} </label>
				</div>
			</div>
		<div class="panel-footer">
			Total XP: {{xp}}
			<button class="btn" style="background-color: #2f542f"(click)="navigateToDetailsPage()"> Go To Details </button>
		</div>
	</div>
</div>
<paging [pagedList]="pagedMonsters"> </paging>