.panel-primary *:not(.panel-title|.panel-heading) {
	color: #e0e0e0;
}
.monsterRow{
	width:80%;
	display: table;
	margin: 0 auto;
}
.monsterContainer{
	margin: 10px 0;
}

.monsterListDescription{
	display: table;
	margin: 0 auto;
}

.monsterHeader{
	border-color: transparent;
	margin-bottom: 5px;
}

.text-bad{
	color: #860000;
}

.text-good{
	color: #004b9a;
}

.panel-success > .panel-dark {
    background-color: #2f542f;
    border-color: darkgreen;
}

.panel-dark{
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-radius: 3px;
}

.panel-dark:first-child {
	margin-top: 15px;
}

.xpDiv {
	margin-top: 10px;
	padding: 10px;
	width: 20%;
}

.playerRow {
	display: table;
}

.playerElement{
	margin: 10px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border-radius: 5px;
}

.pageButton{
	margin: 40px;
}

.selectedButton {
	border-color: whitesmoke;
}

.infoPanel{
	width: 90%; 
	margin: 20px auto;
}