<div>
	<i class="fa fa-angle-double-left fa-lg" (click)="pagedList.setPage(1)"></i>
	<i class="fa fa-angle-left fa-lg" style="padding:20px" (click)="pagedList.setPage(getCurrentPage()-1)"></i>
	<span> Page </span> 
	<input class="ui input" #page onkeypress='return event.charCode >= 48 && event.charCode <= 57' [value]="getCurrentPage()" (keyup)="pagedList.setPage(page.value);" style="width: 30px; text-align: center;" type="text"/> 
	<span> of {{pagedList.getMaxPages()}} </span>
	<i class="fa fa-angle-right fa-lg" style="padding:20px" (click)="pagedList.setPage(getCurrentPage() + 1)"></i>
	<i class="fa fa-angle-double-right fa-lg" (click)="pagedList.setPage(pagedList.getMaxPages())"></i>
</div>